html, body {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color: aliceblue; 
}

header {
    position: relative;
    width: 100%;
    height:400px;
   
    
}

h1{
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: white;
    
}

body {
    font-size: 100%;
    width: 100%;
}

#nav_bar {
    border-bottom: solid 2px;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color:#ccf6ef;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration:none;
}
